<div class="container border">
  <h2>Basic Validation Tutorial in Angular</h2>
  <hr>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label>Firstname</label>
    <div class="input-group">
      <input class="form-control" name="firstname" #firstname="ngModel" ngModel required>
    </div>
    <span *ngIf="firstname.invalid && firstname.touched" class="error">You must enter firstname</span>
  </div>
  <div class="form-group">
    <label>Lastname</label>
    <div class="input-group">
      <input class="form-control" name="lastname" #lastname="ngModel"  ngModel required>
    </div>
    <span *ngIf="lastname.invalid && lastname.touched" class="error">You must enter lastname</span>
  </div>
  <div class="form-group">
    <label >Department</label>
    <div class="input-group">
      <input class="form-control" name="department" #department="ngModel" ngModel required>
    </div>
    <span *ngIf="department.invalid && department.touched" class="error">You must enter department</span>
  </div>
  <div class="form-group">
    <label>Email</label>
    <div class="input-group">
      <input class="form-control" name="email" #email="ngModel" ngModel required>
    </div>
    <span *ngIf="email.invalid && email.touched" class="error">You must enter email</span>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <div class="input-group">
      <select id="country" name="country" #country="ngModel" class="form-control" ngModel required>
        <option *ngFor="let country of countries" value={{country}}>
          {{country}}
        </option>
      </select>
    </div>
    <span *ngIf="country.invalid && country.touched" class="error">You must select country</span>
  </div>
  <div class="border text-center">
    <button type="submit" data-dismiss="modal" class="btn btn-info">Submit</button>
  </div>
</form>
</div>
<br>
<h5>{{message}}</h5>
